*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #ffff;
   
}
.head{
    margin: 2% ;
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
#logo{
    padding: 2%;
    width: 45%;
}
.headings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headings h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
    font-size: 30px;
    color: #2e2e2f;

}
.headings p{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #3a3a3b;
    font-weight: 400;
}
.container{
    width: 30%;
    height: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:0px 0px 20px rgb(168, 163, 163);
    gap: 10px;
   /*border: 2px solid grey;*/ 

    

}
.top{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   

}
.top div{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    
}
.top div a{
    text-decoration: none;
    color: #000;
}
.mid{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mid input{
    width: 90%;
    padding: 3% ;
    text-align: center;
    font-size: 23px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(240, 236, 236);
    border: none;
}
.mid form{
    width: 90%;
}
#pass{
    width: 100%;
    padding: 3% ;
    text-align: center;
    font-size: 23px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(240, 236, 236);
    border: none;
}
.mid input:focus{
    outline: none;
}
.mid1{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cb{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    
}
#cb input{
    width: 20px;
    height: 20px;
    background:grey ;
    border: none;
    box-shadow: 0px 0px 10px rgb(193, 188, 188);
}
.fp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(94, 94, 245);
    cursor: pointer;
}
.fp:hover{
    color: blue;
    font-weight: 600;
}
.mid2{
    padding: 2%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.mid2 button{
    padding: 18px 25px;
    font-weight: 800;    
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: #1BA74C;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px #def9e7;
}

.mid3{
    padding: 5%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.mid3 hr{
   height: 2px;
   width: 25%;
   background:rgb(191, 189, 189);
   border: none;
}
.mid3 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(191, 189, 189);
}
.foot ul{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot ul li img{
    width:50%;
    height: 50%;
    cursor: pointer;
}
